<!DOCTYPE html>
<html>
<head>
  <title>Happy Nerds - Programming Links for Kids</title>
  <meta content="Information and links regarding teaching programming to children." name="Description">
  <meta content="children, kid, programming, coding, tutorials, agentsheets, alice, phrogram, robomind, sgp, scratch, simple, squeak, etoys, toontalk, logo, robomind" name="Keywords">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a href="/">
    <%= image_tag('logo.png') %>
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/view/windows">Windows</a>
      </li>
      <li>
        <a href="/view/mac">Mac</a>
      </li>
      <li>
        <a href="/view/linux">Linux</a>
      </li>
      <li>
        <a href="/view/browser">Browser</a>
      </li>
      <li>
        <a href="/view/ios">iOS</a>
      </li>
      <li>
        <a href="/view/raspberry">Raspberry Pi</a>
      </li>
      <li>
        <a href="/view/books">Books</a>
      </li>
      <li>
        <a href="/view/meta">Meta</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <%= yield %>
  <%= image_tag('schneidersitz.png', id: 'illustration') %>
</main>

<footer>
  <p>This site is powered by <a href="http://rubyonrails.org/">Rails</a>, <a href="http://heroku.com">Heroku</a> and <a href="https://mongolab.com">MongoLab</a>.</p>

  <p>&copy; <a href="http://citizen428.net">Michael Kohl</a> (<a href="http://twitter.com/citizen428">@citizen428</a>) 2009-2016, original CSS by <a href="http://fadr.at">Fadrat</a>.</p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="https://blockchain.info//Resources/wallet/pay-now-button.js"></script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src="" + gaJsHost + "google-analytics.com/ga.js" type="text/javascript"%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-1416057-3");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</footer>
</body>
</htmL>