<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta content="Information and links regarding teaching programming to children." name="Description">
    <meta content="children, kid, programming, coding, tutorials, agentsheets, alice, phrogram, robomind, sgp, scratch, simple, squeak, etoys, toontalk, logo, robomind" name="Keywords">

    <title>Happy Nerds - Programming Links for Kids</title>
  </head>

  <body>
    <%= render partial: 'layouts/google_analytics' %>
    <%= render partial: 'layouts/nav' %>
    <main>
      <%= yield %>

      <%= image_tag('schneidersitz.png', id: 'illustration') %>
    </main>

    <footer>
      <p>&copy; <a href="http://citizen428.net">Michael Kohl</a> (<a href="http://twitter.com/citizen428">@citizen428</a>) 2009-2018, CSS by <a href="http://fadr.at">Fadrat</a>.</p>

      <script async type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
    </footer>
  </body>
</htmL>
